@model llh_crm_cs.Models.Donation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonationArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonationAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
