@model llh_crm_cs.Models.Donation

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Donation</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DonationID)

        <div class="form-group">
            @Html.LabelFor(model => model.DonorID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonorID)
                @Html.ValidationMessageFor(model => model.DonorID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonationArea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonationArea)
                @Html.ValidationMessageFor(model => model.DonationArea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonationAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonationAmount)
                @Html.ValidationMessageFor(model => model.DonationAmount)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
