@model IEnumerable<llh_crm_cs.Models.Occurence>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OccurenceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccurenceCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccurenceDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OccurenceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccurenceCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccurenceDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OccurenceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OccurenceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OccurenceID })
        </td>
    </tr>
}

</table>
